<footer class="site-footer fade-section">

  <div class="footer-inner">

    <p class="footer-tagline">
      Artistry • Resilience • Imagination
    </p>

    <div class="footer-icons">
      <a href="https://facebook.com/people/Crown-Creatives/61556386467490/" class="footer-icon">
        <img src="/assets/icons/facebook.svg" alt="Facebook">
      </a>
      <a href="https://instagram.com/crown_creatives_uk/" class="footer-icon">
        <img src="/assets/icons/instagram.svg" alt="Instagram">
      </a>
      <a href="mailto:crowncreatives@outlook.com" class="footer-icon">
        <img src="/assets/icons/email.svg" alt="Email">
      </a>
      <a href="https://https://copilot.microsoft.com/">
        <img src="/assets/icons/cc-monogram.svg" alt="CC Monogram">
      </a>
      <a href="#" class="footer-icon back-to-top">
        <img src="/assets/icons/up-arrow.svg" alt="Back to top">
      </a>
    </div>

    <p class="footer-copy">
      © {{ site.time | date: "%Y" }} Crown Creatives. All rights reserved.
    </p>

  </div>

</footer>
