<footer class="site-footer">

  <div class="footer-centre">

    <div class="footer-icons">
      <a href="https://instagram.com" target="crown_creatives_uk/">
        <img src="/assets/icons/icon-instagram-bold-cyan.png" 
             alt="Instagram" class="footer-icon-img">
      </a>

      <a href="https://facebook.com" target="people/Crown-Creatives/61556386467490/">
        <img src="/assets/icons/icon-facebook-bold-cyan.png" 
             alt="Facebook" class="footer-icon-img">
      </a>

      <a href="crowncreatives@outlook.com">
        <img src="/assets/icons/icon-email-bold-cyan.png" 
             alt="Email" class="footer-icon-img">
      </a>
    </div>

    <div class="footer-text">
      © Crown Creatives — Artistry • Resilience • Imagination
    </div>

  </div>

  <div class="footer-right">
    <a href="#top">
      <img src="/assets/icons/icon-up-arrow-bold-cyan.png" 
           alt="Back to top" class="footer-icon-img">
    </a>
  </div>

</footer>
